unpackaged/main/default/flows/Portal_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>314</locationX>
        <locationY>2378</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>PortalRegistrationWelcome</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>vMessagingUserList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Household</name>
        <label>Assign Household</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_householdAccount.IsPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_householdAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_householdAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_householdName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Contact</name>
        <label>Assign Matched Contact</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Account_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Household</name>
        <label>Assign Matched Household</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_account.IsPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_user</name>
        <label>Assign var_user</label>
        <locationX>644</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_user.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.IsPortalEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Cancun</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_user.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Chicago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vMessagingUserList</name>
        <label>Assign vMessagingUserList</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>vMessagingUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_MessagingUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_contact</name>
        <label>Update var_contact</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_householdAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.Emergency_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.Emergency_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.Relationship_to_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_to_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Mobile_Number_Already_in_Use</name>
        <label>Is Mobile Number Already in Use?</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>MobileNumberinusescreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile Number is in use</defaultConnectorLabel>
        <rules>
            <name>Mobile_Number_is_not_in_use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MessagingUser</targetReference>
            </connector>
            <label>Mobile Number is not in use</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Account_Partner</name>
        <label>Is Parent Account Partner?</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_not_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Account.IsPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Household</targetReference>
            </connector>
            <label>No, not partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Contact_Found</name>
        <label>Matching Contact Found?</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Household_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Contact</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_In</name>
        <label>SMS Opt In?</label>
        <locationX>644</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_Opt_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MobilePhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MessagingChannel</targetReference>
            </connector>
            <label>Yes, SMS Opt-In</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DupeUsernameScreen</targetReference>
            </connector>
            <label>User Was Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_contact.FirstName},1) &amp; LEFT({!var_contact.LastName}, 3)</expression>
    </formulas>
    <formulas>
        <name>form_householdName</name>
        <dataType>String</dataType>
        <expression>{!var_contact.LastName} &amp; &#39; Household&#39;</expression>
    </formulas>
    <formulas>
        <name>form_RoleNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_contact.FirstName},1) &amp; LEFT({!var_contact.LastName}, 3) &amp; &#39;Partner Person Account&#39;</expression>
    </formulas>
    <formulas>
        <name>vMessagingUsername</name>
        <dataType>String</dataType>
        <expression>{!var_contact.Id}&amp;{!vMobileNumber}</expression>
    </formulas>
    <formulas>
        <name>vMobileNumber</name>
        <dataType>String</dataType>
        <expression>&quot;+1&quot; &amp; SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!MobilePhone.value},&quot;-&quot;,&quot;&quot;),
&quot; &quot;,&quot;&quot;),
&quot;(&quot;,&quot;&quot;),
&quot;)&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Portal.Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Portal.Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_License</targetReference>
        </connector>
        <inputReference>var_contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_var_contact</targetReference>
        </connector>
        <inputReference>var_householdAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MessagingUser</name>
        <label>Create MessagingUser</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Assign_vMessagingUserList</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>644</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>SMS_Opt_In</targetReference>
        </connector>
        <inputReference>var_user</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Record_Type</name>
        <label>Get Household Record Type</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HH_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_License</name>
        <label>Get License</label>
        <locationX>644</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Community Login</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingChannel</name>
        <label>Get MessagingChannel</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLFSMSChannel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingUser</name>
        <label>Get MessagingUser</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Mobile_Number_Already_in_Use</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>644</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_var_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLF Partner Community Login User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Confirm_Email_Address.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Household</name>
        <label>Update Household</label>
        <locationX>358</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_License</targetReference>
        </connector>
        <inputReference>var_account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>644</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>vp_RegistrationProgressBar2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_RegistrationProgressBar2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Thank You!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;You successfully registered for a new Volunteer Account! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt;We&#39;ve sent you an email that contains a link for establishing a password on your new volunteer account along with your account&#39;s &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt;username&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt;If you don&#39;t find an email from us in your inbox then please check your Spam / Junk folder!&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt;Please close this window&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 22px;&quot;&gt; before heading away to check your email!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DupeUsernameScreen</name>
        <label>DupeUsernameScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Register</targetReference>
        </connector>
        <fields>
            <name>DupeUsernameError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Uh oh!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;A user already exists with this username.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MobileNumberinusescreen</name>
        <label>Mobile Number in Use</label>
        <locationX>578</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Mobilenumberinusemessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Unable to Opt-In to SMS at this time.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Uh oh, it looks like this Mobile Number is already in use by another user in our system. Please update your Mobile Number on the &quot;My Profile&quot; page and utilize another Mobile Number or contact us if this issue seems incorrect.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;Note: Your account was successfully created. &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;Click Proceed to continue.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Register</name>
        <label>Register</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <fields>
            <name>vp_ProgressBar</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_ProgressBar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>vp_RegistrationProgressBar1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_RegistrationProgressBar1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>var_contact.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Register_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Register_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Confirm_Email_Address</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Confirm Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 68, 17);&quot;&gt;The email addresses you entered do not match.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!EmailAddress.value} ={!Confirm_Email_Address.value}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>displaytext_EmailExplanation</name>
                    <fieldText>&lt;p&gt;Your email address will serve as your username to access the portal. Please note that all portal registrations require a &lt;strong&gt;unique email address&lt;/strong&gt; (i.e. please do not enter the same email addresses as your spouse or family member). &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Register_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(512) 328-7299</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displaytext_PhoneMessage</name>
                    <fieldText>&lt;p&gt;By providing a telephone number you are consenting to receive automated shift reminders via SMS text message. Message &amp;amp; data rates may apply. Reply STOP to opt out of further messaging.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>var_contact.MailingAddress</objectFieldReference>
        </fields>
        <fields>
            <name>Emergency_Contact_Information</name>
            <fieldText>Emergency Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Emergency_Contact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emergency_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Emergency Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmergencyContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Emergency Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Relationship_to_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Relationship to Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>CREATE ACCOUNT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Register</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_householdAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vMessagingUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
