unpackaged/main/default/flows/Portal_UpdateMyContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Opt_In_SMS</name>
        <label>Send Opt In SMS</label>
        <locationX>468</locationX>
        <locationY>1988</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Assign_MessagingUser_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>SMSOptIn</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>vMessagingUserList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Opt_Out_SMS</name>
        <label>Send Opt Out SMS</label>
        <locationX>732</locationX>
        <locationY>1988</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Assign_MessagingUser_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>OptOutSMS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>vMessagingUserList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Fields</name>
        <label>Assign Contact Fields</label>
        <locationX>1158</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Opt_In_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MessagingUser_Status</name>
        <label>Assign MessagingUser Status</label>
        <locationX>600</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>Get_MessagingUser.MessagingConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMessagingConsentStatusUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MessagingUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_vMessagingUserList</name>
        <label>Assign to vMessagingUserList</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>vMessagingUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_MessagingUser_OptIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Contact_SMS_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_vMessagingUserList1</name>
        <label>Assign to vMessagingUserList</label>
        <locationX>600</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>vMessagingUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_MessagingUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vSMSOptInBoolean</name>
        <label>Assign vSMSOptInBoolean</label>
        <locationX>1158</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vSMSOptinBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSMSOptInBooleanCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Skip updating the Messaging User and sending SMS - go to Update Contact.</description>
        <name>Assign_vSMSOptOutError</name>
        <label>Assign vSMSOptOutError</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>vSMSOptOutError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Contact_SMS_Status</name>
        <label>Handle Contact SMS Status</label>
        <locationX>325</locationX>
        <locationY>2528</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMessagingConsentStatusUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Or_Update</name>
        <label>Create New Or Update</label>
        <locationX>325</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Handle_MessagingSessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Existing</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MessagingUser_OptIn</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_ContactId_s_Match</name>
        <label>Do ContactId&#39;s Match?</label>
        <locationX>792</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>MobileNumberInUseScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_s_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingUser.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Or_Update</targetReference>
            </connector>
            <label>Contact Id&#39;s Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handle_MessagingSessions</name>
        <label>Handle MessagingSessions</label>
        <locationX>600</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_to_vMessagingUserList1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Opt_out_handler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fMessagingConsentStatusUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MessagingSessions</targetReference>
            </connector>
            <label>Opt-out handler</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send SMS before updating the MessagingUser</description>
        <name>Send_SMS_Split</name>
        <label>Send SMS Split</label>
        <locationX>600</locationX>
        <locationY>1880</locationY>
        <defaultConnector>
            <targetReference>Send_Opt_Out_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opt-out SMS</defaultConnectorLabel>
        <rules>
            <name>Opt_in_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fMessagingConsentStatusUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExplicitlyOptedIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Opt_In_SMS</targetReference>
            </connector>
            <label>Opt-in SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_In_Changed</name>
        <label>SMS Opt-In Changed?</label>
        <locationX>1158</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Opt_In_Changed_By_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS_Opt_in</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vSMSOptinBoolean</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MessagingChannel</targetReference>
            </connector>
            <label>SMS Opt In Changed By User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_on_vSMSOptOutError</name>
        <label>Split on vSMSOptOutError</label>
        <locationX>1158</locationX>
        <locationY>2912</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>True_Opt_Out_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSMSOptOutError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_Out_Failure_Screen</targetReference>
            </connector>
            <label>True - Opt Out Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Active_Messaging_Sessions_Found</name>
        <label>Were Active Messaging Sessions Found</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_to_vMessagingUserList1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Active_Messaging_Sessions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingSessions</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vSMSOptOutError</targetReference>
            </connector>
            <label>Yes, Active Messaging Sessions Found</label>
        </rules>
    </decisions>
    <description>Screen flow on the My Account page to edit Contact details.</description>
    <environments>Default</environments>
    <formulas>
        <name>fMessagingConsentStatusUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!SMS_Opt_in} = false, &quot;OptedOut&quot;, &quot;ExplicitlyOptedIn&quot;)</expression>
    </formulas>
    <formulas>
        <name>fSMSOptInBooleanCalculation</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISPICKVAL({!Get_Contact.SMS_Status__c},&#39;OptedOut&#39;)),NOT(ISBLANK(TEXT({!Get_Contact.SMS_Status__c})))), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>vMessagingUserName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Id}&amp;{!vMobileNumber}</expression>
    </formulas>
    <formulas>
        <name>vMobileNumber</name>
        <dataType>String</dataType>
        <expression>&quot;+1&quot; &amp; SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!Get_Contact.MobilePhone},&quot;-&quot;,&quot;&quot;),
&quot; &quot;,&quot;&quot;),
&quot;(&quot;,&quot;&quot;),
&quot;)&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Portal.UpdateMyContact {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Portal.UpdateMyContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MessagingUser_OptIn</name>
        <label>Create MessagingUser OptIn</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assign_to_vMessagingUserList</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1158</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_vSMSOptInBoolean</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingChannel</name>
        <label>Get MessagingChannel</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TEXT_US_12072808792</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingSessions</name>
        <label>Get MessagingSessions</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Active_Messaging_Sessions_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingUser</name>
        <label>Get MessagingUser</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_ContactId_s_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1158</locationX>
        <locationY>2804</locationY>
        <connector>
            <targetReference>Split_on_vSMSOptOutError</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MessagingUser</name>
        <label>Update MessagingUser</label>
        <locationX>600</locationX>
        <locationY>2288</locationY>
        <connector>
            <targetReference>Handle_Contact_SMS_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact</targetReference>
        </faultConnector>
        <inputReference>Get_MessagingUser</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>1158</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_Fields</targetReference>
        </connector>
        <fields>
            <name>Contact_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contact.Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>displaytext_EmailExplanation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Need to update your email address? Submit your request using the Contact Us tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>555-555-5555</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SMS_Opt_in</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>vSMSOptinBoolean</elementReference>
                    </defaultValue>
                    <fieldText>SMS Opt-in</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>displaytext_PhoneMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;By selecting SMS Opt-In&lt;/span&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;, you are consenting to receive automated shift reminders via SMS text message. Message &amp;amp; data rates may apply. Unselect the option to opt out of further messaging. Or, reply STOP to opt out of further messaging.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.MailingAddress</objectFieldReference>
        </fields>
        <fields>
            <name>Contact_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contact.Emergency_Contact_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contact.Relationship_to_Contact__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contact.Emergency_Contact_Phone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Profile</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MobileNumberInUseScreen</name>
        <label>MobileNumberInUseScreen</label>
        <locationX>1260</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>MobileNumberinusemessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Unable to adjust SMS &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opt-In status&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; at this time.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Uh oh, it looks like this Mobile Number is already in use by another user in our system. Please update your Mobile Number on the &quot;My Profile&quot; page and utilize another Mobile Number or contact us if this issue seems incorrect.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opt_Out_Failure_Screen</name>
        <label>Opt Out Failure Screen</label>
        <locationX>1026</locationX>
        <locationY>3020</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Unable to change SMS status.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;We are unable to change your SMS options at this time. Please try again later. To immediately stop further messaging &lt;/span&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;﻿text STOP to 207-280-8792.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Note: You have successfully updated the rest of your profile information.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1290</locationX>
        <locationY>3020</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Success! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You have successfully updated your profile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1032</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vMessagingUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSMSOptinBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSMSOptOutError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
