unpackaged/main/default/flows/Portal_CaseContactUsForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Authenticated_Case_Fields</name>
        <label>Assign Authenticated Case Fields</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_Case_Fields</name>
        <label>Assign Base Case Fields</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Volunteer Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInquiryType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guest_User_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Serve_Case_Fields</name>
        <label>Assign Group Serve Case Fields</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>rCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Description_Rich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tGroupServeDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Max_Attendees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Anticipated_People1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Age_Demographics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_Demographics1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Preferred_Timeframe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Times1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Specific_Dates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specific_Dates1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Monday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Tuesday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tuesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Wednesday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wednesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Thursday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thursday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Friday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Friday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_Saturday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saturday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Day_Pref_No_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Preference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Group_Donation_Consideration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupDonationConsideration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Base_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Guest_Case_Fields</name>
        <label>Assign Guest Case Fields</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>rCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInquiryType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Type</name>
        <label>Assign Inquiry Type</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vInquiryType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inquiry_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Type_Group</name>
        <label>Assign Inquiry Type Group</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vInquiryType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inquiry_Type_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Neighbor_Case_Fields</name>
        <label>Assign Neighbor Case Fields</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>rCase.Description_Rich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tNeighborsDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_would_you_like_to_engage_with_our_neighbors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Base_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Case_Fields</name>
        <label>Assign Other Case Fields</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>rCase.Description_Rich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tOtherInquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Base_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vInquiryType_to_vDefaultChoice</name>
        <label>Assign vInquiryType to vDefaultChoice</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vInquiryType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDefaultChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Volunteer_Agreement_text_to_variable</name>
        <label>Assign Volunteer Agreement text to variable</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>rJobVolAgreement.GW_Volunteers__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tVolunteerAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colJobVolAgreement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rJobVolAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Inquiry_Screen_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Volunteer_Case_Fields</name>
        <label>Assign Volunteer Case Fields</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>rCase.Description_Rich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tVolunteerDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Timing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_often_would_you_like_to_volunteer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.MLF_Day_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_would_you_like_to_volunteer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Base_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_vProgramsChoiceList</name>
        <label>Assign vProgramsChoiceList</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Art House</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Community Market</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Community Inn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New Home Prep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Genesis Gardens</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramsChoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property Beautification/Landscaping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RegularVolunteerScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_100</name>
        <choiceText>100+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100+</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_30_75</name>
        <choiceText>30 - 75</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 - 75</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_76_100</name>
        <choiceText>76 - 100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>76 - 100</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Adults</name>
        <choiceText>Adults</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adults</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Families</name>
        <choiceText>Families</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Families</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Group</name>
        <choiceText>Volunteer as a group of 5 or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Serve</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_NeighborsVolunteer</name>
        <choiceText>Serve our neighbors (meals or services)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OneTime</name>
        <choiceText>One-time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-time</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Ongoing</name>
        <choiceText>Ongoing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ongoing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Portal</name>
        <choiceText>Website or account issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_RegularVolunteer</name>
        <choiceText>Become a regular volunteer (daily/weekly/monthly)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volunteer</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceset</name>
        <choiceText>choiceset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceset</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Guest_User_Split</name>
        <label>Guest User Split</label>
        <locationX>578</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Assign_Authenticated_Case_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Guest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Guest_Case_Fields</targetReference>
            </connector>
            <label>Is Guest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Type_Split</name>
        <label>Inquiry Type Split</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Assign_Base_Case_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inquiry_Group_Serve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInquiryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Serve_Screen</targetReference>
            </connector>
            <label>Inquiry Group Serve</label>
        </rules>
        <rules>
            <name>Inquiry_Neighbors_Volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInquiryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_NeighborsVolunteer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Neighbor_Volunteer_Screen</targetReference>
            </connector>
            <label>Inquiry Neighbors Volunteer</label>
        </rules>
        <rules>
            <name>Inquiry_Regular_Volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInquiryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_RegularVolunteer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vProgramsChoiceList</targetReference>
            </connector>
            <label>Inquiry Regular Volunteer</label>
        </rules>
        <rules>
            <name>Inquiry_Portal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vInquiryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Portal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInquiryType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherInquiryScreen</targetReference>
            </connector>
            <label>Inquiry Portal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Split if authenticated and vDefaultChoice is set</description>
        <name>Skip_Inquiry_Screen_Split</name>
        <label>Skip Inquiry Screen Split</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CaseScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Inquiry_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDefaultChoice</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_vInquiryType_to_vDefaultChoice</targetReference>
            </connector>
            <label>Skip Inquiry Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_on_GroupsForm</name>
        <label>Split on GroupsForm</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Inquiry_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GroupsForm_Is_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupsForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inquiry_Type_Group</targetReference>
            </connector>
            <label>GroupsForm Is Checked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceset_DayPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Day_Preference__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_Demographics</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Group_Age_Demographics__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_engagementType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Engagement_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_GroupType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Group_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_MLFGroupDonationConsideration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Group_Donation_Consideration__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_PreferredTimeframe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Group_Preferred_Timeframe__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_TimingPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLF_Timing_Preference__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sampleMultiSelect</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Email_Subscriptions__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Volunteer Portal | &quot; &amp; {!vInquiryType}</expression>
    </formulas>
    <formulas>
        <name>fFullName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} &amp; &#39; &#39; &amp; {!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>fGuestUser</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$User.UserType}) = &quot;Guest&quot;</expression>
    </formulas>
    <interviewLabel>Portal.CaseContactUsForm {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Portal.CaseContactUsForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>rCase</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseScreen</name>
        <label>CaseScreen</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Split_on_GroupsForm</targetReference>
        </connector>
        <fields>
            <name>Your_Information</name>
            <fieldText>Your Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Your_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fGuestUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CaseScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inquiry_Type</name>
                    <choiceReferences>choice_Group</choiceReferences>
                    <choiceReferences>choice_NeighborsVolunteer</choiceReferences>
                    <choiceReferences>choice_RegularVolunteer</choiceReferences>
                    <choiceReferences>choice_Portal</choiceReferences>
                    <choiceReferences>choice_Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vDefaultChoice</elementReference>
                    </defaultValue>
                    <fieldText>Inquiry Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GroupsForm</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Inquiry_Type_Group</name>
            <choiceReferences>choice_Group</choiceReferences>
            <choiceReferences>choice_NeighborsVolunteer</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vDefaultChoice</elementReference>
            </defaultValue>
            <fieldText>Inquiry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GroupsForm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Group_Serve_Screen</name>
        <label>Group Serve Screen</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Group_Serve_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Group_Information</name>
            <fieldText>Group Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Group_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_GroupDisclaimer</name>
                    <fieldText>&lt;p&gt;Group Serve Events must have a minimum of 5 volunteers and maintain an adult-to-child ratio of 1:5 at the Village.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Group_Name1</name>
                    <dataType>String</dataType>
                    <fieldText>Group Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Group_Type</name>
                    <choiceReferences>choiceset_GroupType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Group Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Max_Anticipated_People1</name>
                    <dataType>Number</dataType>
                    <fieldText>Max Anticipated People</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Age_Demographics1</name>
                    <choiceReferences>choiceset_Demographics</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Age Demographics</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Walking_Tour1</name>
                    <choiceReferences>choice_Yes</choiceReferences>
                    <choiceReferences>choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Walking Tour?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Our Group Serve Events typically include a 30-minute walking tour of the Village.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Preferred_Times1</name>
                    <choiceReferences>choiceset_PreferredTimeframe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What timeframe are you looking to volunteer?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WeekDaysText</name>
                    <fieldText>&lt;p&gt;What day(s) of the week work best for your group?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>No_Preference</name>
                    <dataType>Boolean</dataType>
                    <fieldText>No Preference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Monday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tuesday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tuesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Wednesday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Wednesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Thursday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Thursday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Friday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Friday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Saturday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Saturday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Specific_Dates1</name>
                    <dataType>String</dataType>
                    <fieldText>Specific Dates</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;Are there only specific dates your group can volunteer? If so, please list them below.&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GroupDonationConsideration</name>
                    <choiceReferences>choiceset_MLFGroupDonationConsideration</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you able to support dignified income and project costs?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Questions_Comments1</name>
                    <fieldText>Questions &amp; Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>VisitorAgreement1</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Job__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please review and agree to our Volunteer Agreement:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>colJobVolAgreement</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Description__c&quot;,&quot;guid&quot;:&quot;column-99cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>VolunteerAgreement1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I accept the Visitor Agreement &amp; Waiver Form</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Neighbor_Volunteer_Screen</name>
        <label>Neighbor Volunteer Screen</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Neighbor_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>Neighbor_Volunteer_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neighbor_Volunteer_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization</name>
                    <dataType>String</dataType>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>What_background_or_certification_do_you_have_that_is_relevant_to_the_service_you</name>
                    <fieldText>What background or certification do you have that is relevant to the service you want to provide?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Neighbor_Volunteer_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neighbor_Volunteer_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Days_new</name>
                    <extensionName>c:fsc_dualListBox3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allOptionsStringFormat</name>
                        <value>
                            <stringValue>csv</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allOptionsCSV</name>
                        <value>
                            <stringValue>Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableReordering</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Days</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Neighbor_Volunteer_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Times_new</name>
                    <extensionName>c:fsc_dualListBox3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allOptionsStringFormat</name>
                        <value>
                            <stringValue>csv</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allOptionsCSV</name>
                        <value>
                            <stringValue>Morning,Mid-day,Late Afternoon,Evening</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Times</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Neighbor_Volunteer_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neighbor_Volunteer_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_would_you_like_to_engage_with_our_neighbors</name>
                    <choiceReferences>choiceset_engagementType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How would you like to engage with our neighbors?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Community_Meals</name>
            <fieldText>Community Meals</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Community_Meals_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommunityMealsDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please provide some additional information regarding providing meals to neighbors at Community First! Village.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>How_many_people_are_you_prepared_to_serve</name>
                    <choiceReferences>choice_30_75</choiceReferences>
                    <choiceReferences>choice_76_100</choiceReferences>
                    <choiceReferences>choice_100</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How many people are you prepared to serve?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Meals_How_many_people_will_you_have_in_your_group</name>
                    <dataType>Number</dataType>
                    <fieldText>How many people will you have in your group?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>What_time_of_day_do_you_want_to_serve_new</name>
                    <extensionName>c:fsc_dualListBox3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allOptionsStringFormat</name>
                        <value>
                            <stringValue>csv</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allOptionsCSV</name>
                        <value>
                            <stringValue>Breakfast,Lunch,Dinner,Snack,Other</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableReordering</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Preferred_Date_First_Choice</name>
                    <dataType>Date</dataType>
                    <fieldText>Preferred Date (First Choice)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Preferred_Date_Second_Choice</name>
                    <dataType>Date</dataType>
                    <fieldText>Preferred Date (Second Choice)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_would_you_like_to_engage_with_our_neighbors</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Provide a Meal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Providing_Services</name>
            <fieldText>Providing Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Providing_Services_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidingServicesDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please provide some additional information regarding providing service(s) to neighbors at Community First! Village.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>What_kind_of_service_are_you_interested_in_bringing_to_the_Village</name>
                    <fieldText>What kind of service are you interested in bringing to the Village?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Services_How_many_people_will_you_have_in_your_group</name>
                    <dataType>Number</dataType>
                    <fieldText>How many people will you have in your group?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>How_often_would_you_like_to_provide_this_service</name>
                    <dataType>String</dataType>
                    <fieldText>How often would you like to provide this service?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_date_day_of_the_week_Are_you_interested_in_serving</name>
                    <dataType>String</dataType>
                    <fieldText>What date/day of the week are you interested in serving?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_this_be_an_ongoing_or_a_one_time_service</name>
                    <choiceReferences>choice_Ongoing</choiceReferences>
                    <choiceReferences>choice_OneTime</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will this be an ongoing or a one-time service?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_would_you_like_to_engage_with_our_neighbors</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Provide a Service</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hosting_Events</name>
            <fieldText>Hosting Events</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hosting_Events_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HostingEventsDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please provide some additional information about the type of event you&#39;d like to host for our neighbors at Community First! Village.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>What_kind_of_events_are_you_interested_in_hosting_at_the_Village</name>
                    <fieldText>What kind of events are you interested in hosting at the Village?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_date_day_of_the_week_are_you_interested_in_hosting_this_event</name>
                    <dataType>String</dataType>
                    <fieldText>What date/day of the week are you interested in hosting this event?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_this_be_an_ongoing_or_one_time_event</name>
                    <choiceReferences>choice_Ongoing</choiceReferences>
                    <choiceReferences>choice_OneTime</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will this be an ongoing or one-time event?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Event_How_many_people_you_will_you_have_in_your_group</name>
                    <dataType>Number</dataType>
                    <fieldText>How many people you will you have in your group?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_would_you_like_to_engage_with_our_neighbors</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Host an Event</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OtherInquiryScreen</name>
        <label>OtherInquiryScreen</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Other_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>How_can_we_help</name>
            <fieldText>How can we help?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RegularVolunteerScreen</name>
        <label>RegularVolunteerScreen</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Volunteer_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>Have_you_been_to_Community_First_Village_before</name>
            <choiceReferences>choice_Yes</choiceReferences>
            <choiceReferences>choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you been to Community First! Village before?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_often_would_you_like_to_volunteer</name>
            <choiceReferences>choiceset_TimingPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How often would you like to volunteer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_would_you_like_to_volunteer</name>
            <choiceReferences>choiceset_DayPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When would you like to volunteer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgramSelector</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are there any specific programs are there any specific programs you&#39;d like to be involved in?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>vProgramsChoiceList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Do_you_have_any_special_skills_and_or_preferences</name>
            <fieldText>Do you have any special skills and/or preferences?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>578</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Thank you for your inquiry! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;We will be in touch soon.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Volunteer_Agreement_text_to_variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tGroupServeDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Walking Tour: {!Walking_Tour1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Questions/Comments:&lt;/p&gt;&lt;p&gt;{!Questions_Comments1}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tNeighborsDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Address:&lt;/p&gt;&lt;p&gt;{!Address}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Days/Times:&lt;/p&gt;&lt;p&gt;{!Days_new.selectedOptionsStringList}&lt;/p&gt;&lt;p&gt;{!Times_new.selectedOptionsStringList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Time of day:&lt;/p&gt;&lt;p&gt;{!What_time_of_day_do_you_want_to_serve_new.selectedOptionsStringList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;# of people prepared to serve:&lt;/p&gt;&lt;p&gt;{!How_many_people_are_you_prepared_to_serve}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Frequency:&lt;/p&gt;&lt;p&gt;{!How_often_would_you_like_to_provide_this_service}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Interested in engaging with our neighbors:&lt;/p&gt;&lt;p&gt;{!How_would_you_like_to_engage_with_our_neighbors}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preferred dates:&lt;/p&gt;&lt;p&gt;{!Preferred_Date_First_Choice}&lt;/p&gt;&lt;p&gt;{!Preferred_Date_Second_Choice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Number of people in group:&lt;/p&gt;&lt;p&gt;{!Meals_How_many_people_will_you_have_in_your_group}{!Services_How_many_people_will_you_have_in_your_group}{!Event_How_many_people_you_will_you_have_in_your_group}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Background/certification:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!What_background_or_certification_do_you_have_that_is_relevant_to_the_service_you}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date/day of the week:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!What_date_day_of_the_week_are_you_interested_in_hosting_this_event}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!What_date_day_of_the_week_Are_you_interested_in_serving}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Events/Services interested in at&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; the Village&lt;/span&gt;:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!What_kind_of_events_are_you_interested_in_hosting_at_the_Village}{!What_kind_of_service_are_you_interested_in_bringing_to_the_Village}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ongoing/One-time:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Will_this_be_an_ongoing_or_a_one_time_service}{!Will_this_be_an_ongoing_or_one_time_event}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tOtherInquiryDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!How_can_we_help}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tVolunteerAgreement</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2&gt;&lt;strong&gt;Eligibility&lt;/strong&gt;&lt;/h2&gt;&lt;p&gt;Mobile Loaves &amp;amp; Fishes is a family friendly organization. We highly encourage people of all ages to volunteer with us. If you are a minor, we require consent from a parent or guardian.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h2&gt;&lt;strong&gt;Media Release&lt;/strong&gt;&lt;/h2&gt;&lt;p&gt;I hereby consent to being the subject of photographs taken by Mobile Loaves &amp;amp; Fishes, Inc. and authorize Mobile Loaves &amp;amp; Fishes, Inc. to cause the photographs to be exhibited with or without advertising sponsorships as still photographs, transparencies, motion pictures, television, social media or video. By this document I release Mobile Loaves &amp;amp; Fishes, Inc., their agents, employees or assigns, from any and all claims for damages, libel, slander, invasion of privacy or any other claim based upon the use of my likeness.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h2&gt;&lt;strong&gt;Volunteer Agreement and Waiver Release&lt;/strong&gt;&lt;/h2&gt;&lt;p&gt;This agreement is between the reader (Volunteer) and Mobile Loaves &amp;amp; Fishes (MLF). Volunteer hereby offers his/her services to MLF to include, but not limited to, volunteering with MLFs outreach to homeless and poor people through the delivery of food (which may or may not use MLF vehicles), providing housing, performing construction or maintenance on MLF property, buildings, and fixtures, as well as volunteering in any other MLF program or project it offers from time to time (collectively the Volunteer Services). As a condition of my being accepted as a MLF volunteer and allowed to perform the Volunteer Services, I hereby agree to the following:&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I acknowledge and agree that the nature of the volunteer services which are typically performed by an MLF volunteer, may involve (a) physical activity (including without limitation work with heavy tools and materials), (b) contact with unidentified, unfamiliar, and unpredictable persons (c) travel to and from various unspecified locations, (d) potential exposure to persons with infectious diseases, and (e) other potential risk of injury. I willingly and freely agree to volunteer and hereby assume any and all hazards or risk associated with the Volunteer Services, including without limitation risk of accident, personal injury, or death to my person or property which I may sustain in connection with my participation as a MLF volunteer in any MLF related project or activity. I am aware that I must follow any safety and hygiene protocols that have been implemented by MLF. I attest that I am not experiencing any symptoms of illness such as fever, cough, or shortness of breath. If I develop these symptoms I agree that I will cancel my shift before arriving at Community First! Village.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The undersigned hereby releases and covenants not to sue MLF and its directors, officers, partners, agents, employees, successors, assigns, licensees, sponsors, donors, representatives, volunteers, guests and affiliates from all liability, claims, suits, damages or cause(s) of action, whether known or unknown, arising out of or based upon or relating to my participation as an MLF volunteer in the Volunteer Services or any other MLF related activity or project for any and all property damage, personal injury or death sustained by me or my minor child&lt;em&gt;.&amp;nbsp;&lt;/em&gt;&lt;strong&gt;&lt;em&gt;I will indemnify and hold harmless MLF from any loss, liability, damage, cost or expense that they may incur as the result of any property damage or injury or death me or my child may sustain while acting as a MLF volunteer.&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;I hereby acknowledge that MLF is an organization involved in serving the disabled chronically homeless. I hereby confirm, represent and warrant that I have never been convicted of a violent crime.&amp;nbsp;&lt;/p&gt;&lt;p&gt;I hereby consent to being the subject of photographs taken by MLF and authorize MLF to cause the photographs to be exhibited with or without advertising sponsorships as still photographs, transparencies, motion pictures, television, social media or video. By this document I release MLF, their agents, employees or assigns, from any and all claims for damages, libel, slander, invasion of privacy or any other claim based upon the use of my likeness. I further irrevocably grant to MLF, its assigns and successors, my consent and full right to: photograph, film, audio, or video record my child during the course of volunteering with MLF, to use such photographs, films, name, image, voice, likeness, biography audio, or video recordings on the MLF website and other MLF print, media publications or guides, publicity or promotions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I request and authorize MLF to provide, in their judgment, any immediate medical or emergency care my child may need due to injury or sickness. MLF can share information concerning the medical condition /treatment of my child to medical personnel or others MLF in its discretions determines is necessary to treat my child.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Having read this Volunteer Agreement and Waiver/Release Form, I agree to the terms and conditions expressed herein.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tVolunteerDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Been to Community First Village before?&lt;/p&gt;&lt;p&gt;{!Have_you_been_to_Community_First_Village_before}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Specific Programs:&lt;/p&gt;&lt;p&gt;{!ProgramSelector.selectedOptionsStringList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Skills/Preferences:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Do_you_have_any_special_skills_and_or_preferences}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>colJobVolAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Job__c</objectType>
    </variables>
    <variables>
        <name>GroupsForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rJobVolAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Job__c</objectType>
    </variables>
    <variables>
        <description>&quot;Group Serve&quot;, &quot;Service&quot; (Neighbors Volunteer), &quot;Volunteer&quot;, &quot;Portal&quot;, &quot;Other&quot;</description>
        <name>vDefaultChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInquiryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Art House,Community Market,Community Inn,New Home Prep,Genesis Gardens,Property Beautification/Landscaping</description>
        <name>vProgramsChoiceList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
