unpackaged/main/default/flows/VolunteerJob_GroupServeShiftRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>collection_VolunteerHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rVolunteerHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Volunteer_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Contact</name>
        <label>Assign Matched Contact</label>
        <locationX>198</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Matching_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Volunteer_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_volunteerShifts</name>
        <label>Assign var_volunteerShifts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_volunteerShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Shifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Volunteer_Hours_Record</name>
        <label>Assign Volunteer Hours Record</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Volunteer_Shifts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Volunteer_Shifts.GW_Volunteers__Volunteer_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_User_Authenticated</name>
        <label>Is User Authenticated?</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Find_Matching_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest User</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Authenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Volunteer_Shifts</targetReference>
            </connector>
            <label>Yes, User Authenticated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Matching_Contact_Found</name>
        <label>Was Matching Contact Found?</label>
        <locationX>330</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Contact Found</defaultConnectorLabel>
        <rules>
            <name>Matching_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Matching_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Contact</targetReference>
            </connector>
            <label>Matching Contact Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fGuestUser</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!GuestUserOverride},
ISPICKVAL({!$User.UserType}, &#39;Guest&#39;)
)</expression>
    </formulas>
    <formulas>
        <description>Calculate the minimum date of birth required for the Age Requirement of the job</description>
        <name>fMinimumBirthdate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, -12 * {!Get_Volunteer_Job.Minimum_Age__c})</expression>
    </formulas>
    <interviewLabel>VolunteerJob.GroupShiftRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VolunteerJob.GroupServeShiftRegistration</label>
    <loops>
        <name>Loop_Over_Volunteer_Shifts</name>
        <label>Loop Over Volunteer Shifts</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <collectionReference>VolunteerShiftsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Volunteer_Hours_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Volunteer_Hours_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>462</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>rContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Over_Volunteer_Shifts</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Volunteer_Hours_Records</name>
        <label>Create Volunteer Hours Records</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <inputReference>collection_VolunteerHours</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Matching_Contact</name>
        <label>Find Matching Contact</label>
        <locationX>330</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Matching_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Job</name>
        <label>Get Volunteer Job</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Shifts</name>
        <label>Get Volunteer Shifts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_var_volunteerShifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scReview_Shift_Details</name>
        <label>Review Shift Details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>&lt; BACK TO EDIT</backButtonLabel>
        <connector>
            <targetReference>scVolunteerAgreement</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;PLEASE REVIEW &amp;amp; CONFIRM YOUR SHIFT DETAILS ARE CORRECT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewShiftDetails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Review Shift Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>VolunteerShiftsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;fortafy_Job_Name__c&quot;,&quot;guid&quot;:&quot;column-684a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Job Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-0891&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>THIS IS CORRECT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scVolunteerAgreement</name>
        <label>Volunteer Agreement</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_Authenticated</targetReference>
        </connector>
        <fields>
            <name>VolAgreement</name>
            <fieldText>&lt;p&gt;Please review and agree to our Volunteer Agreement. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>SIGN UP</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shift_Screen</name>
        <label>Shift Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scReview_Shift_Details</targetReference>
        </connector>
        <fields>
            <name>VolunteerShiftsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_volunteerShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;fortafy_Job_Name__c&quot;,&quot;guid&quot;:&quot;column-ebed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Job Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Shift_Day_of_the_Week__c&quot;,&quot;guid&quot;:&quot;column-1c60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Shift Day of the Week&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-7333&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date &amp; Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Duration__c&quot;,&quot;guid&quot;:&quot;column-570b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Duration (Hours)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Number_of_Volunteers_Still_Needed__c&quot;,&quot;guid&quot;:&quot;column-1f0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Volunteers Needed&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;# of Volunteers Still Needed&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Volunteer_Information</name>
            <fieldText>Volunteer Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sign_up_for_SMS_reminders</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sign up for SMS reminders</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fGuestUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sc1_Button</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>font-weight:bold; font-size: 2em;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;SIGN ME UP&quot;,&quot;value&quot;:&quot;SIGN ME UP&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:chevronright&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Shift_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shift_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>SIGN ME UP</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAllVolunteers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collection_VolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>colNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GuestUserOverride</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rVolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>var_volunteerShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
