unpackaged/main/default/flows/VolunteerHours_SendCancelationSMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cancelation_SMS</name>
        <label>Send Cancelation SMS</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>VolShiftCancellation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;VolHoursJobName&quot;,
    &quot;textValue&quot;: &quot;{!VolHoursJobName}&quot;
  },
  {
    &quot;name&quot;: &quot;VolFirstName&quot;,
    &quot;textValue&quot;: &quot;{!VolFirstName}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartTime&quot;,
    &quot;textValue&quot;: &quot;{!VolShiftStartTime}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartDate&quot;,
    &quot;textValue&quot;: &quot;{!VolShiftStartDate}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MessagingUserIdCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_MessagingUserIdCollection</name>
        <label>Add to MessagingUserIdCollection</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MessagingUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_MessagingUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Collection_is_not_empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Collection_is_not_empty</name>
        <label>If Collection is not empty</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessagingUserIdCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancelation_SMS</targetReference>
            </connector>
            <label>Collection is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_MessagingUserIdCollection</targetReference>
            </connector>
            <label>Yes, found record</label>
        </rules>
    </decisions>
    <description>Sends SMS notification when the Volunteer Hours or Shift is cancelled and the Contact is opt-in.</description>
    <environments>Default</environments>
    <formulas>
        <name>VolFirstName</name>
        <dataType>String</dataType>
        <expression>{!$Record.GW_Volunteers__Contact__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>VolHoursJobName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Volunteer_Job_Name__c}</expression>
    </formulas>
    <formulas>
        <name>VolShiftStartDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.StrtDate_Formatted__c}</expression>
    </formulas>
    <formulas>
        <name>VolShiftStartTime</name>
        <dataType>String</dataType>
        <expression>{!$Record.StrtTime_Formatted__c}</expression>
    </formulas>
    <interviewLabel>VolunteerHours.SendCancelationSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VolunteerHours.SendCancelationSMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MessagingChannel</name>
        <label>Get MessagingChannel</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLFSMSChannel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingUser</name>
        <label>Get MessagingUser</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MessagingChannel</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLF Shift Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_SMS_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessagingUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
