unpackaged/main/default/flows/VolunteerHours_PortalUpdateVolunteerHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_New_Status_rVolunterHours</name>
        <label>Assign New Status rVolunterHours</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Volunteer_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rVolunterHours</name>
        <label>Assign rVolunterHours</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rVolunteerHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_on_Shift_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Canceled</name>
        <choiceText>No, I won&#39;t be coming. (Cancel)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_checkedIn</name>
        <choiceText>I&#39;m here! (Check-in)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checked-In</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Confirmed</name>
        <choiceText>Yes, I&#39;ll be there!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Checked_In</name>
        <label>Check for Checked-In</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Status_rVolunterHours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_t_Check_In_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_checkedIn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Volunteer_Hours.GW_Volunteers__Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CantCheckinYetScreen</targetReference>
            </connector>
            <label>Can&#39;t Check In Yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recordId_available</name>
        <label>Is recordId available?</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Blank_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordId_is_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Volunteer_Hours</targetReference>
            </connector>
            <label>recordId is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_on_Shift_Status</name>
        <label>Split on Shift Status</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Read_Only_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Updated Already</defaultConnectorLabel>
        <rules>
            <name>Proceed_To_Update_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVolunteerHours.GW_Volunteers__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVolunteerHours.GW_Volunteers__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Sign Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVolunteerHours.GW_Volunteers__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Proceed To Update Status</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceset_volunteerHoursStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>GW_Volunteers__Status__c</picklistField>
        <picklistObject>GW_Volunteers__Volunteer_Hours__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>VolunteerHours.PortalUpdateVolunteerHours {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VolunteerHours.PortalUpdateVolunteerHours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Volunteer_Hours</name>
        <label>Get Volunteer Hours</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_rVolunterHours</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Volunteer_Hours</name>
        <label>Update Volunteer Hours</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>rVolunteerHours</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Blank_Screen</name>
        <label>Blank Screen</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CantCheckinYetScreen</name>
        <label>CantCheckinYetScreen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Assign_New_Status_rVolunterHours</targetReference>
        </connector>
        <fields>
            <name>CantCheckinText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Uh oh, you can&#39;t check-in until the day of the event. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Start date: {!Get_Volunteer_Hours.GW_Volunteers__Shift_Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Read_Only_Screen</name>
        <label>Read Only Screen</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReadOnly_Job_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.Volunteer_Job_Name__c</elementReference>
            </defaultValue>
            <fieldText>Job Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReadOnly_Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.GW_Volunteers__Shift_Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shift_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>rVolunteerHours.Shift_Duration__c</elementReference>
            </defaultValue>
            <fieldText>Shift Duration</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ReadOnly_Address</name>
            <defaultValue>
                <stringValue>{!Get_Volunteer_Hours.fortafy_JobLocationFullAddress__c}</stringValue>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shift_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rVolunteerHours.GW_Volunteers__Status__c</elementReference>
            </defaultValue>
            <fieldText>Shift Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Checked_In</targetReference>
        </connector>
        <fields>
            <name>ShiftNoticeTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Update Your Shift Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.Volunteer_Job_Name__c</elementReference>
            </defaultValue>
            <fieldText>Job Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.GW_Volunteers__Shift_Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <defaultValue>
                <stringValue>{!Get_Volunteer_Hours.fortafy_JobLocationFullAddress__c}</stringValue>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Your_Current_Status</name>
            <choiceReferences>choiceset_volunteerHoursStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rVolunteerHours.GW_Volunteers__Status__c</elementReference>
            </defaultValue>
            <fieldText>Your Current RSVP Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>choice_Canceled</choiceReferences>
            <choiceReferences>choice_checkedIn</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rVolunteerHours.GW_Volunteers__Status__c</elementReference>
            </defaultValue>
            <fieldText>Cancel / Check-In</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Okay</backButtonLabel>
        <fields>
            <name>SuccessTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Success! Shift Status Updated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Job_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.Volunteer_Job_Name__c</elementReference>
            </defaultValue>
            <fieldText>Job Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Volunteer_Hours.GW_Volunteers__Shift_Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address</name>
            <defaultValue>
                <stringValue>{!Get_Volunteer_Hours.fortafy_JobLocationFullAddress__c}</stringValue>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UpdatedStatus</name>
            <choiceReferences>choiceset_volunteerHoursStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rVolunteerHours.GW_Volunteers__Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_recordId_available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rVolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
