unpackaged/main/default/flows/VolunteerShifts_SpotlightOpportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Program_Shifts</name>
        <label>Assign Program Shifts</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>volunteerShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Shifts_from_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SpotlightOpportunitiesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spotlight_Shifts</name>
        <label>Assign Spotlight Shifts</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>volunteerShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Shifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Predefined_Criteria_Provided</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Family_Friendly_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Family Friendly Filter</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Family_Friendly_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>volunteerShifts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Family_Friendly_Filter.Family_Friendly__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SpotlightOpportunitiesScreen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Handicap_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Handicap Filter</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Family_Friendly_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>volunteerShifts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Family_Friendly_Filter.Handicap_Accessible__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SpotlightOpportunitiesScreen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Indoor_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Indoor Filter</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Family_Friendly_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>volunteerShifts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Family_Friendly_Filter.Indoors__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SpotlightOpportunitiesScreen</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>ProgramId_Provided</name>
        <label>ProgramId Provided?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Volunteer_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProgramId_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Volunteer_Shifts_from_Program</targetReference>
            </connector>
            <label>ProgramId is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Predefined_Criteria_Provided</name>
        <label>Was Predefined Criteria Provided?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SpotlightOpportunitiesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Handicap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handicap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handicap_Filter</targetReference>
            </connector>
            <label>Handicap</label>
        </rules>
        <rules>
            <name>Family_Friendly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Friendly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_Friendly_Filter</targetReference>
            </connector>
            <label>Family Friendly</label>
        </rules>
        <rules>
            <name>Indoor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indoor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indoor_Filter</targetReference>
            </connector>
            <label>Indoor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Current Date + 15 which is the window of time (next 14 days) we want to use to constrain the list of Spotlight Opportunities. We use 15 days so all Shifts on the 14th day will be displayed</description>
        <name>Next_14_Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 15</expression>
    </formulas>
    <interviewLabel>VolunteerShifts.SpotlightOpportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VolunteerShifts.SpotlightOpportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Volunteer_Shifts</name>
        <label>Get Volunteer Shifts</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Spotlight_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Private_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Private_Event_Job_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fortafy_ShiftStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EventScheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>fortafy_RegistrationClosedDatetime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Next_14_Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>GW_Volunteers__Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Shifts_from_Program</name>
        <label>Get Volunteer Shifts from Program</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Program_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Private_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Private_Event_Job_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fortafy_ShiftStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EventScheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>fortafy_RegistrationClosedDatetime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>fortafy_CampaignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Next_14_Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>GW_Volunteers__Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SpotlightOpportunitiesScreen</name>
        <label>SpotlightOpportunitiesScreen</label>
        <locationX>380</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SpotlightOpportunities1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>volunteerShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:324, Day__c:159, fortafy_Job_Name__c:352, Age__c:76</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxNumberOfRows</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Openings__c:center, Hours__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>fortafy_Job_Name__c:Job</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramId_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_2_of_Family_Friendly_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>FilterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>volunteerShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
</Flow>
