unpackaged/main/default/flows/VolunteerJob_ShiftRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_AdditionalContact_collection_VolunteerHours</name>
        <label>Assign AdditionalContact collection_VolunteerHours</label>
        <locationX>554</locationX>
        <locationY>2936</locationY>
        <assignmentItems>
            <assignToReference>collection_VolunteerHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvar_VolunteerHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AdditionalContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AdditionalContact_var_VolunteerHour</name>
        <label>Assign AdditionalContact var_VolunteerHour</label>
        <locationX>554</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_AdditionalContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Volunteer_Shifts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AdditionalContact_collection_VolunteerHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AdditionalContacts</name>
        <label>Assign AdditionalContacts</label>
        <locationX>270</locationX>
        <locationY>2012</locationY>
        <assignmentItems>
            <assignToReference>AdditionalContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_AdditionalContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Additional_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_collection_VolunteerHours</name>
        <label>Assign Contact collection_VolunteerHours</label>
        <locationX>574</locationX>
        <locationY>2504</locationY>
        <assignmentItems>
            <assignToReference>collection_VolunteerHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvar_VolunteerHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Additional_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_var_VolunteerHour</name>
        <label>Assign Contact var_VolunteerHour</label>
        <locationX>574</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Volunteer_Shifts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopvar_VolunteerHours.GW_Volunteers__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Volunteer_Shifts.fortafy_Start_Date_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_collection_VolunteerHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matching_Contact_Id</name>
        <label>Assign Matching Contact Id</label>
        <locationX>138</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>var_AdditionalContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AdditionalContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_AdditionalContact</name>
        <label>Assign var_AdditionalContact</label>
        <locationX>270</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>var_AdditionalContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AdditionalContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AdditionalContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_volunteerShifts</name>
        <label>Assign var_volunteerShifts</label>
        <locationX>290</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_volunteerShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Shifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShiftsScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Contacts</name>
        <label>Additional Contacts?</label>
        <locationX>290</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Loop_Volunteer_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Additional_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additionally_Register_Under_18_Volunteers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Additional_Contacts</targetReference>
            </connector>
            <label>Yes Additional Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Additional_Contacts</name>
        <label>Any Additional Contacts?</label>
        <locationX>574</locationX>
        <locationY>2612</locationY>
        <defaultConnector>
            <targetReference>Loop_Volunteer_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Contacts_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additionally_Register_Under_18_Volunteers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_AdditionalContacts</targetReference>
            </connector>
            <label>Additional Contacts Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Age</name>
        <label>Check Age</label>
        <locationX>510</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Additional_Volunteers_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Volunteers_Loop.Birthdate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>YearsAgo_18</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Over18Screen</targetReference>
            </connector>
            <label>Over 18</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Matching_Contact</name>
        <label>Found Matching Contact?</label>
        <locationX>270</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Create_var_AdditionalContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matching_Contact_Id</targetReference>
            </connector>
            <label>Matching Contact Found</label>
        </rules>
    </decisions>
    <description>The screen flow that is housed on the volunteer job detail page. This allows users to sign up for shifts.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_GuestUser</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$User.UserType}, &#39;Guest&#39;)</expression>
    </formulas>
    <formulas>
        <name>YearsAgo_18</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}) - 18,MONTH({!$Flow.CurrentDate}),DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>VolunteerJob.ShiftRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DEPRECATEVolunteerJob.ShiftRegistration</label>
    <loops>
        <name>Additional_Volunteers_Loop</name>
        <label>Additional Volunteers Loop</label>
        <locationX>290</locationX>
        <locationY>566</locationY>
        <collectionReference>AdditionalVolunteerRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Age</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmRegistration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Additional_Contacts</name>
        <label>Loop Additional Contacts</label>
        <locationX>50</locationX>
        <locationY>1340</locationY>
        <collectionReference>AdditionalVolunteerRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_var_AdditionalContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Volunteer_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_AdditionalContacts</name>
        <label>Loop AdditionalContacts</label>
        <locationX>466</locationX>
        <locationY>2720</locationY>
        <collectionReference>AdditionalContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AdditionalContact_var_VolunteerHour</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Volunteer_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Volunteer_Shifts</name>
        <label>Loop Volunteer Shifts</label>
        <locationX>290</locationX>
        <locationY>2288</locationY>
        <collectionReference>VolunteerShiftsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_var_VolunteerHour</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_collection_VolunteerHours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_collection_VolunteerHours</name>
        <label>Create collection_VolunteerHours</label>
        <locationX>290</locationX>
        <locationY>3296</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorPage</targetReference>
        </faultConnector>
        <inputReference>collection_VolunteerHours</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_var_AdditionalContact</name>
        <label>Create var_AdditionalContact</label>
        <locationX>402</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>Assign_AdditionalContacts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorPage</targetReference>
        </faultConnector>
        <inputReference>var_AdditionalContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>270</locationX>
        <locationY>1556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Matching_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Additional_Contacts.Birthdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Job</name>
        <label>Get Volunteer Job</label>
        <locationX>290</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Shifts</name>
        <label>Get Volunteer Shifts</label>
        <locationX>290</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_var_volunteerShifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmRegistration</name>
        <label>ConfirmRegistration</label>
        <locationX>290</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Contacts</targetReference>
        </connector>
        <fields>
            <name>ConfirmRegTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shift Registrations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>VolunteerShiftsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;fortafy_Job_Name__c&quot;,&quot;guid&quot;:&quot;column-919f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Job Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-de56&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;fortafy_End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-e97c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdditionalContactConfirmTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional Under 18 Volunteers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AdditionalContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-a035&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-0709&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Birthdate&quot;,&quot;guid&quot;:&quot;column-662c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Additionally_Register_Under_18_Volunteers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Yes, Register</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorPage</name>
        <label>ErrorPage</label>
        <locationX>706</locationX>
        <locationY>3404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ShiftsScreen</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Uh oh, it looks like something went wrong.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start Over</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Over18Screen</name>
        <label>Over18Screen</label>
        <locationX>378</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ShiftsScreen</targetReference>
        </connector>
        <fields>
            <name>Over18Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Additional Volunteer Over 18&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Uh oh! It looks like you attempted to register an additional volunteer who is over 18 years old. They will need to register themselves.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShiftsScreen</name>
        <label>ShiftsScreen</label>
        <locationX>290</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Volunteers_Loop</targetReference>
        </connector>
        <fields>
            <name>VolunteerShiftsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_volunteerShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-7333&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date &amp; Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Start Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;fortafy_End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-7efd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;GW_Volunteers__Number_of_Volunteers_Still_Needed__c&quot;,&quot;guid&quot;:&quot;column-1f0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Volunteers Needed&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;# of Volunteers Still Needed&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShiftsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Guest_FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Guest_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Guest_Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additionally_Register_Under_18_Volunteers</name>
            <dataType>Boolean</dataType>
            <fieldText>Additionally Register Under 18 Volunteers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Additionally registered volunteers will be added to each of the selected shifts above.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdditionalVolunteerRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Birthdate</name>
                <dataType>Date</dataType>
                <fieldText>Birthdate</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Additionally_Register_Under_18_Volunteers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>290</locationX>
        <locationY>3404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Job</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AdditionalContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collection_VolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>loopvar_VolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AdditionalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_volunteerShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
</Flow>
