unpackaged/main/default/flows/VolunteerHours_SendSMSScheduledFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SMS_One_Day_Before</name>
        <label>SMS One Day Before</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>VolDayBeforeEvent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;VolFirstName&quot;,
    &quot;textValue&quot;: &quot;{!vFirstName}&quot;
  },
  {
    &quot;name&quot;: &quot;VolHoursJobName&quot;,
    &quot;textValue&quot;: &quot;{!vJobName}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartDate&quot;,
    &quot;textValue&quot;: &quot;{!vStartDate}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartTime&quot;,
    &quot;textValue&quot;: &quot;{!vStartTime}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MessagingUserIdsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SMS_Today</name>
        <label>SMS Today</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>VolDayOfEvent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;VolFirstName&quot;,
    &quot;textValue&quot;: &quot;{!vFirstName}&quot;
  },
  {
    &quot;name&quot;: &quot;VolHoursJobName&quot;,
    &quot;textValue&quot;: &quot;{!vJobName}&quot;
  },
  {
    &quot;name&quot;: &quot;JobLocation&quot;,
    &quot;textValue&quot;: &quot;{!vJobLocation_Address}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartDate&quot;,
    &quot;textValue&quot;: &quot;{!vStartDate}&quot;
  },
  {
    &quot;name&quot;: &quot;VolShiftStartTime&quot;,
    &quot;textValue&quot;: &quot;{!vStartTime}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MessagingUserIdsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_MessagingUserIdsCollection</name>
        <label>Add to MessagingUserIdsCollection</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>MessagingUserIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_MessagingUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>vFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Contact__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Volunteer_Shift__r.GW_Volunteers__Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Volunteer_Shift__r.fortafy_End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vJobName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Volunteer_Shift__r.fortafy_Job_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vJobLocation_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.fortafy_JobLocationFullAddress__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Message_Split</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SMS_Message_Split</name>
        <label>SMS Message Split</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GW_Volunteers__Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Today</targetReference>
            </connector>
            <label>Today</label>
        </rules>
        <rules>
            <name>X1_Days_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date_is_Tomorrow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MessagingUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_One_Day_Before</targetReference>
            </connector>
            <label>1 Day Before</label>
        </rules>
    </decisions>
    <description>Scheduled daily and sends SMS based on formula criteria from VolunteerHours.Send_Volunteer_SMS__c.</description>
    <environments>Default</environments>
    <formulas>
        <name>vStartDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.StrtDate_Formatted__c}</expression>
    </formulas>
    <formulas>
        <name>vStartTime</name>
        <dataType>String</dataType>
        <expression>{!$Record.StrtTime_Formatted__c}</expression>
    </formulas>
    <interviewLabel>VolunteerHours.SendSMSScheduledFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VolunteerHours.SendSMSScheduledFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MessagingChannel</name>
        <label>Get MessagingChannel</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLFSMSChannel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingUser</name>
        <label>Get MessagingUser</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_MessagingUserIdsCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GW_Volunteers__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingChannel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MessagingChannel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Volunteer_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_SMS_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-10</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessagingUserIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vJobLocation_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vJobName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
