unpackaged/main/default/flows/VolunteerJob_DisplayRequirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fAgeRequirementImage</name>
        <dataType>String</dataType>
        <expression>&quot;MinimumYears&quot; &amp; TEXT({!Volunteer_Job_Record.Minimum_Age__c})</expression>
    </formulas>
    <interviewLabel>VolunteerJob.DisplayRequirements {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VolunteerJob.DisplayRequirements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Volunteer_Job_Record</name>
        <label>Volunteer Job Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volunteer_Job_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Volunteer_Job_Details</name>
        <label>Volunteer Job Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Volunteer_Job_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Job_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StaticResource2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <elementReference>Volunteer_Job_Record.Primary_Image_URL__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Volunteer_Job_Record.Primary_Image_URL__c</assignToReference>
                        <name>imageName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Volunteer_Job_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Name_TextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 1.125rem; font-weight: 400;&quot;&gt;{!Volunteer_Job_Record.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Requirements_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Volunteer_Job_Record.Requirements__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SideBar_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;# of Shifts:&lt;/strong&gt; {!Volunteer_Job_Record.GW_Volunteers__Number_of_Shifts__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;# of Volunteers:&lt;/strong&gt; {!Volunteer_Job_Record.GW_Volunteers__Number_of_Volunteers__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;# of Volunteers Still Needed:&lt;/strong&gt; {!Volunteer_Job_Record.GW_Volunteers__Number_of_Volunteers_Still_Needed__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
