unpackaged/main/default/flows/VolunteerJob_ShiftRegistration_GuestUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Home</name>
        <label>Redirect to Home</label>
        <locationX>1304</locationX>
        <locationY>3830</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://goodness--vp.sandbox.my.site.com/vpstandard/s/my-upcoming-shifts</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Login</name>
        <label>Redirect to Login</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://goodness--vp.sandbox.my.site.com/login</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Volunteer_Hours_to_Collection</name>
        <label>Add Volunteer Hours to Collection</label>
        <locationX>1656</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>collection_VolunteerHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rVolunteerHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Shifts_to_Check_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_colExistingVolunteerHours</name>
        <label>Assign colExistingVolunteerHours</label>
        <locationX>1304</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>colExistingVolunteerHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Volunteer_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Shifts_on_the_same_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_colSelectedShifts</name>
        <label>Assign colSelectedShifts</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>colSelectedShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolunteerShiftsCustomTable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_user_Authenticated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shift_to_Date_Collection</name>
        <label>Assign Shift to Date Collection</label>
        <locationX>1392</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>vSelectedShiftDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Shifts_to_Check_Date.fortafy_Start_Date_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedShiftDateTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Shifts_to_Check_Date.GW_Volunteers__Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Shifts_to_Check_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Volunteer_Hours_Record</name>
        <label>Assign Values to Volunteer Hours Record</label>
        <locationX>1656</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.Additional_Volunteer_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tAdditionalVolunteersNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Number_of_Volunteers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTotalVolunteerCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Shifts_to_Check_Capacity.GW_Volunteers__Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Volunteer_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Shifts_to_Check_Capacity.fortafy_volunteer_shift_id_18__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Volunteer_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVolunteerHours.GW_Volunteers__Hours_Worked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHoursWorked</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Volunteer_Hours_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_volunteerShifts</name>
        <label>Assign var_volunteerShifts</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_volunteerShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Shifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unauthenticated_Shift_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Volunteer_Agreement_text_to_variable</name>
        <label>assign Volunteer Agreement text to variable</label>
        <locationX>1304</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>rJobVolAgreement.GW_Volunteers__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tVolunteerAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colJobVolAgreement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rJobVolAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scReview_Shift_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Found duplicate registrations</description>
        <name>Update_bool_alreadyRegisteredForShift</name>
        <label>Update bool_alreadyRegisteredForShift</label>
        <locationX>1634</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>bool_alreadyRegisteredForShift</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Shifts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Shifts_on_the_same_date</name>
        <label>Are there Shifts on the same date?</label>
        <locationX>1304</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Authenticated_Shift_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shifts_on_same_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Volunteer_Hours</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Existing_Hours</targetReference>
            </connector>
            <label>Shifts on same date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Look for duplicate registrations</description>
        <name>Check_if_shift_Id_s_match</name>
        <label>Check if shift Id&#39;s match</label>
        <locationX>1766</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shift_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_Hours.GW_Volunteers__Volunteer_Shift__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Selected_Shifts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_bool_alreadyRegisteredForShift</targetReference>
            </connector>
            <label>Shift Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_of_Volunteers_Greater_than_the_Capacity</name>
        <label>Is the # of Volunteers Greater than the Capacity?</label>
        <locationX>1524</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Volunteer_Hours_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Over_Capacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Shifts_to_Check_Capacity.GW_Volunteers__Number_of_Volunteers_Still_Needed__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fTotalVolunteerCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shift_at_Volunteer_Capacity</targetReference>
            </connector>
            <label>Yes - Over Capacity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_Authenticated</name>
        <label>Is user Authenticated?</label>
        <locationX>677</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Portal (Standard) Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scRedirect_to_Login</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_already_registered_for_shift</name>
        <label>User already registered for shift?</label>
        <locationX>1106</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>ShiftsOnSameDateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_registered_for_shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_alreadyRegisteredForShift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Registered_Screen</targetReference>
            </connector>
            <label>Already registered for shift</label>
        </rules>
    </decisions>
    <description>A screen flow hosted on the Volunteer Portal site for users to register for volunteer shifts. The flow checks if the user is authenticated and allows them to register for a shift, or redirects them to register for an account or login.</description>
    <environments>Default</environments>
    <formulas>
        <name>fHoursWorked</name>
        <dataType>Number</dataType>
        <expression>{!loop_Shifts_to_Check_Capacity.GW_Volunteers__Duration__c}*{!fTotalVolunteerCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculate the minimum date of birth required for the Age Requirement of the job</description>
        <name>fMinimumBirthdate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, -12 * {!Get_Volunteer_Job.Minimum_Age__c})</expression>
    </formulas>
    <formulas>
        <description>The number of additional volunteers still needed, less 1 for the person registering. If the number of volunteers still needed is greater than 3, only display that 3 volunteers (because the company policy is that only 4 volunteers can be registered at a time).</description>
        <name>fNumberofVolunteerSpotsAvailable</name>
        <dataType>Number</dataType>
        <expression>IF(({!VolunteerShiftsCustomTable.outputSelectedRow.GW_Volunteers__Number_of_Volunteers_Still_Needed__c} - 1) &gt; 3, 3, 
   {!VolunteerShiftsCustomTable.outputSelectedRow.GW_Volunteers__Number_of_Volunteers_Still_Needed__c} - 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>The total count of extra volunteers + the main volunteer who is registering</description>
        <name>fTotalVolunteerCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!HOW_MANY_PEOPLE_ARE_YOU_BRINGING}), 1, {!HOW_MANY_PEOPLE_ARE_YOU_BRINGING} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Determines if the additional # of volunteers the guest is bringing exceeds the number of volunteers that are able to be accomodated</description>
        <name>fValidateVolNumber</name>
        <dataType>Boolean</dataType>
        <expression>{!HOW_MANY_PEOPLE_ARE_YOU_BRINGING} &lt;= {!fNumberofVolunteerSpotsAvailable}</expression>
    </formulas>
    <interviewLabel>VolunteerJob.ShiftRegistration_GuestUser {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VolunteerJob.PortalShiftRegistration</label>
    <loops>
        <description>look for duplicate registrations</description>
        <name>Loop_Existing_Hours</name>
        <label>Loop Existing Hours</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <collectionReference>Get_Existing_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Selected_Shifts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_already_registered_for_shift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>look for duplicate registrations</description>
        <name>Loop_Selected_Shifts</name>
        <label>Loop Selected Shifts</label>
        <locationX>1546</locationX>
        <locationY>1622</locationY>
        <collectionReference>VolunteerShiftsCustomTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_shift_Id_s_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Existing_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Shifts_to_Check_Capacity</name>
        <label>loop Shifts to Check Capacity</label>
        <locationX>1304</locationX>
        <locationY>2798</locationY>
        <collectionReference>VolunteerShiftsCustomTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_of_Volunteers_Greater_than_the_Capacity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Volunteer_Agreement_text_to_variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Shifts_to_Check_Date</name>
        <label>Loop Shifts to Check Date</label>
        <locationX>1304</locationX>
        <locationY>890</locationY>
        <collectionReference>VolunteerShiftsCustomTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Shift_to_Date_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Volunteer_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Volunteer_Hours_Records</name>
        <label>Create Volunteer Hours Records</label>
        <locationX>1304</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>Final_Shift_Confirmation</targetReference>
        </connector>
        <inputReference>collection_VolunteerHours</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Information</name>
        <label>Get Contact Information</label>
        <locationX>1304</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Shifts_to_Check_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Volunteer_Hours</name>
        <label>Get Existing Volunteer Hours</label>
        <locationX>1304</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_colExistingVolunteerHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Information.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>In</operator>
            <value>
                <elementReference>vSelectedShiftDates</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Job</name>
        <label>Get Volunteer Job</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Shifts</name>
        <label>Get Volunteer Shifts</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_var_volunteerShifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>fortafy_RegistrationClosedDatetime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>GW_Volunteers__Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Registered_Screen</name>
        <label>Already Registered Screen</label>
        <locationX>974</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_ShiftsOnSameDayTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 24px;&quot;&gt;Warning: You are already registered for one of your selected volunteer shifts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SelectedShiftsWarning</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelectedShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Selected Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:247, Day__c:181, fortafy_Job_Name__c:224, Hours__c:144</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Spacing</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_AlreadyRegisteredShifts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Already Registered Volunteer Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Vol_Shift_Day_of_the_Week__c,Volunteer_Job_Name__c,Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:247, Vol_Shift_Day_of_the_Week__c:181, Volunteer_Job_Name__c:224, Hours__c:144</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colExistingVolunteerHours</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Authenticated_Shift_Screen</name>
        <label>Authenticated Shift Screen</label>
        <locationX>1304</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>PREVIOUS</backButtonLabel>
        <connector>
            <targetReference>loop_Shifts_to_Check_Capacity</targetReference>
        </connector>
        <fields>
            <name>vp_ShiftProgressBar2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_ShiftProgressBar2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 600px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectedShifts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Selected Shift(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c,Openings__c,Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:190, Day__c:95, fortafy_Job_Name__c:200, Hours__c:110, Openings__c:125, Age__c:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelectedShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Hours__c:center, Openings__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blankspace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Volunteers_Section</name>
            <fieldText>Additional Volunteers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Volunteers_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WILL_YOU_BE_BRINGING_ADDITIONAL_PEOPLE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>WILL YOU BE BRINGING ADDITIONAL PEOPLE?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fNumberofVolunteerSpotsAvailable</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayText_AdditionalVols</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(251, 0, 0);&quot;&gt;THIS SHIFT CAN ACCOMMODATE  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!fNumberofVolunteerSpotsAvailable} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(251, 0, 0);&quot;&gt;ADDITIONAL PERSON(S).&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>WILL_YOU_BE_BRINGING_ADDITIONAL_PEOPLE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HOW_MANY_PEOPLE_ARE_YOU_BRINGING</name>
                    <dataType>Number</dataType>
                    <fieldText>HOW MANY PEOPLE ARE YOU BRINGING?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17);&quot;&gt;The number of additional volunteers for this shift cannot exceed &lt;u&gt;{!fNumberofVolunteerSpotsAvailable}&lt;/u&gt;. Please reduce the number of people you are bringing.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!fValidateVolNumber}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>WILL_YOU_BE_BRINGING_ADDITIONAL_PEOPLE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Volunteers_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtReduceNumberofPeople</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 68, 17);&quot;&gt;Please reduce the number of people you are bringing. This shift can only accommodate {!fNumberofVolunteerSpotsAvailable} additional guests.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HOW_MANY_PEOPLE_ARE_YOU_BRINGING</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>fNumberofVolunteerSpotsAvailable</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Volunteer_Contact_Details</name>
            <fieldText>Volunteer Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Information.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Information.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Contact_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact_Information.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Information.Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Volunteer</name>
            <fieldText>Additional Volunteer #1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Volunteer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name1</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17);&quot;&gt;You must enter a First Name and Last Name for the additional guest you are bringing.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(ISBLANK({!Name1.firstName}) || ISBLANK({!Name1.lastName}), false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Volunteer_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Birth1</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!AgeValidationMessage}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth1} &lt; {!fMinimumBirthdate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HOW_MANY_PEOPLE_ARE_YOU_BRINGING</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fNumberofVolunteerSpotsAvailable</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Volunteer_2</name>
            <fieldText>Additional Volunteer #2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Volunteer_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name2</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17); background-color: rgb(255, 255, 255);&quot;&gt;You must enter a First Name and Last Name for the additional guest you are bringing.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(ISBLANK({!Name2.firstName}) || ISBLANK({!Name2.lastName}), false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Volunteer_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email2</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Birth2</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AgeValidationMessage}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth2} &lt; {!fMinimumBirthdate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HOW_MANY_PEOPLE_ARE_YOU_BRINGING</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fNumberofVolunteerSpotsAvailable</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Volunteer_3</name>
            <fieldText>Additional Volunteer #3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Volunteer_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name3</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17); background-color: rgb(255, 255, 255);&quot;&gt;You must enter a First Name and Last Name for the additional guest you are bringing.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(ISBLANK({!Name3.firstName}) || ISBLANK({!Name3.lastName}), false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Volunteer_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email3</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Birth3</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AgeValidationMessage}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth3} &lt; {!fMinimumBirthdate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HOW_MANY_PEOPLE_ARE_YOU_BRINGING</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fNumberofVolunteerSpotsAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>NEXT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Shift_Confirmation</name>
        <label>Final Shift Confirmation</label>
        <locationX>1304</locationX>
        <locationY>3722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Home</targetReference>
        </connector>
        <fields>
            <name>vp_ShiftProgressBar4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_ShiftProgressBar4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 600px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;YOUR REGISTRATION IS CONFIRMED!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalConfirmationShifts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelectedShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c,Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:190, Day__c:95, fortafy_Job_Name__c:200, Hours__c:110, Age__c:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Hours__c:center, Openings__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkemail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Next, check your email for additional information about your upcoming volunteer shift including how to prepare and parking instructions.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>VIEW MY SHIFTS</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scRedirect_to_Login</name>
        <label>Redirect to Login</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Login</targetReference>
        </connector>
        <fields>
            <name>RedirectToLogin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;YOU ARE BROWSING AS A GUEST. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;PLEASE CLICK LOGIN OR REGISTER IF YOU ARE A NEW USER.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>LOGIN OR REGISTER</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scReview_Shift_Details</name>
        <label>Review Shift Details</label>
        <locationX>1304</locationX>
        <locationY>3506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>PREVIOUS</backButtonLabel>
        <connector>
            <targetReference>Create_Volunteer_Hours_Records</targetReference>
        </connector>
        <fields>
            <name>vp_ShiftProgressBar3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_ShiftProgressBar3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 600px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;PLEASE REVIEW &amp;amp; CONFIRM YOUR SHIFT DETAILS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewShiftDetailsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelectedShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c,Openings__c,Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:190, Day__c:95, fortafy_Job_Name__c:200, Hours__c:105, Openings__c:125, Age__c:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Hours__c:center, Openings__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blankspace1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registrant_Information</name>
            <fieldText>Registrant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registrant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Volunteer_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Information.Name</elementReference>
                    </defaultValue>
                    <fieldText>Primary Volunteer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registrant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth4</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Information.Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Volunteers</name>
            <fieldText>Additional Volunteers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Volunteers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Guest_Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>tGuest1</elementReference>
                    </defaultValue>
                    <fieldText>Additional Guest Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name1.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Guest_Name2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>tGuest2</elementReference>
                    </defaultValue>
                    <fieldText>Additional Guest Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name2.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Guest_Name3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>tGuest3</elementReference>
                    </defaultValue>
                    <fieldText>Additional Guest Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name3.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Volunteers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth6</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Birth1</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name1.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_of_Birth7</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Birth2</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name2.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_of_Birth8</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Birth3</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name3.firstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Name1.firstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VolunteerAgreementTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Job__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>VOLUNTEER AGREEMENT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colJobVolAgreement</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;GW_Volunteers__Description__c&quot;,&quot;guid&quot;:&quot;column-d724&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Volunteer Agreement&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_accept_the_Visitor_Agreement_Waiver_Form</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept the Visitor Agreement &amp; Waiver Form</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17); background-color: rgb(255, 255, 255);&quot;&gt;You must accept the Visitor Agreement &amp;amp; Waiver Form to proceed with your registration.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_accept_the_Visitor_Agreement_Waiver_Form}=TRUE</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>SIGN UP</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shift_at_Volunteer_Capacity</name>
        <label>Shift at Volunteer Capacity</label>
        <locationX>1392</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>PREVIOUS</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Authenticated_Shift_Screen</targetReference>
        </connector>
        <fields>
            <name>scShift_Capacity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The shift you selected only has capacity for &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!loop_Shifts_to_Check_Capacity.GW_Volunteers__Number_of_Volunteers_Still_Needed__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Please return to the previous screen and reduce the number of additional volunteers you are trying to register. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Shift Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!loop_Shifts_to_Check_Capacity.fortafy_Job_Name__c}  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Start Date/Time: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!loop_Shifts_to_Check_Capacity.GW_Volunteers__Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShiftsOnSameDateScreen</name>
        <label>ShiftsOnSameDateScreen</label>
        <locationX>1238</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>GO BACK</backButtonLabel>
        <connector>
            <targetReference>Authenticated_Shift_Screen</targetReference>
        </connector>
        <fields>
            <name>ShiftsOnSameDayTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(255, 0, 0);&quot;&gt;Warning: You already registered for volunteer shifts on one of your selected dates.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedShiftsWarning</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelectedShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Selected Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:226, Day__c:123, fortafy_Job_Name__c:205, Hours__c:91</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>4:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacing</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AlreadyRegisteredShifts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Hours__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Already Registered Volunteer Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Vol_Shift_Day_of_the_Week__c,Volunteer_Job_Name__c,Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:226, Vol_Shift_Day_of_the_Week__c:123, Volunteer_Job_Name__c:205, Hours__c:91</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colExistingVolunteerHours</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>4:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>NEXT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unauthenticated_Shift_Screen</name>
        <label>Unauthenticated Shift Screen</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_colSelectedShifts</targetReference>
        </connector>
        <fields>
            <name>vp_ShiftProgressBar1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>vp_ShiftProgressBar1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 600px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VolunteerShiftsCustomTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_volunteerShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Volunteer Shifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Date_Time__c,Day__c,fortafy_Job_Name__c,Hours__c,Openings__c,Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Date_Time__c:190, Day__c:95, fortafy_Job_Name__c:200, Hours__c:110, Openings__c:125, Age__c:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Hours__c:center, Openings__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>NEXT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Complete</name>
        <isActive>false</isActive>
        <label>Complete</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Details</name>
        <isActive>false</isActive>
        <label>Confirm Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>SelectShifts</name>
        <isActive>true</isActive>
        <label>Select Shifts</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Volunteer_Agreement</name>
        <isActive>false</isActive>
        <label>Volunteer Agreement</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AgeValidationMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 68, 17); background-color: rgb(255, 255, 255);&quot;&gt;The volunteer must be {!Get_Volunteer_Job.Minimum_Age__c} years of age to sign-up for this shift.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GuestName1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;r&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tAdditionalVolunteersNames</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Name1.firstName} {!Name1.lastName} - {!Email1.value} {!Date_of_Birth1}
{!Name2.firstName} {!Name2.lastName} - {!Email2.value} {!Date_of_Birth2}
{!Name3.firstName} {!Name3.lastName} - {!Email3.value} {!Date_of_Birth3}</text>
    </textTemplates>
    <textTemplates>
        <name>tGuest1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Name1.firstName} {!Name1.lastName}</text>
    </textTemplates>
    <textTemplates>
        <name>tGuest2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Name2.firstName} {!Name2.lastName}</text>
    </textTemplates>
    <textTemplates>
        <name>tGuest3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Name2.firstName} {!Name2.lastName}</text>
    </textTemplates>
    <textTemplates>
        <name>tVolunteerAgreement</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2&gt;Eligibility&lt;/h2&gt;&lt;p&gt;Mobile Loaves &amp;amp; Fishes is a family friendly organization. We highly encourage people of all ages to volunteer with us. If you are a minor, we require consent from a parent or guardian.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h2&gt;Media Release&lt;/h2&gt;&lt;p&gt;I hereby consent to being the subject of photographs taken by Mobile Loaves &amp;amp; Fishes, Inc. and authorize Mobile Loaves &amp;amp; Fishes, Inc. to cause the photographs to be exhibited with or without advertising sponsorships as still photographs, transparencies, motion pictures, television, social media or video. By this document I release Mobile Loaves &amp;amp; Fishes, Inc., their agents, employees or assigns, from any and all claims for damages, libel, slander, invasion of privacy or any other claim based upon the use of my likeness.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h2&gt;Volunteer Agreement and Waiver Release&lt;/h2&gt;&lt;p&gt;This agreement is between the reader (Volunteer) and Mobile Loaves &amp;amp; Fishes (MLF). Volunteer hereby offers his/her services to MLF to include, but not limited to, volunteering with MLFs outreach to homeless and poor people through the delivery of food (which may or may not use MLF vehicles), providing housing, performing construction or maintenance on MLF property, buildings, and fixtures, as well as volunteering in any other MLF program or project it offers from time to time (collectively the Volunteer Services). As a condition of my being accepted as a MLF volunteer and allowed to perform the Volunteer Services, I hereby agree to the following:&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I acknowledge and agree that the nature of the volunteer services which are typically performed by an MLF volunteer, may involve (a) physical activity (including without limitation work with heavy tools and materials), (b) contact with unidentified, unfamiliar, and unpredictable persons (c) travel to and from various unspecified locations, (d) potential exposure to persons with infectious diseases, and (e) other potential risk of injury. I willingly and freely agree to volunteer and hereby assume any and all hazards or risk associated with the Volunteer Services, including without limitation risk of accident, personal injury, or death to my person or property which I may sustain in connection with my participation as a MLF volunteer in any MLF related project or activity. I am aware that I must follow any safety and hygiene protocols that have been implemented by MLF. I attest that I am not experiencing any symptoms of illness such as fever, cough, or shortness of breath. If I develop these symptoms I agree that I will cancel my shift before arriving at Community First! Village.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The undersigned hereby releases and covenants not to sue MLF and its directors, officers, partners, agents, employees, successors, assigns, licensees, sponsors, donors, representatives, volunteers, guests and affiliates from all liability, claims, suits, damages or cause(s) of action, whether known or unknown, arising out of or based upon or relating to my participation as an MLF volunteer in the Volunteer Services or any other MLF related activity or project for any and all property damage, personal injury or death sustained by me or my minor child&lt;em&gt;.&amp;nbsp;&lt;/em&gt;&lt;strong&gt;&lt;em&gt;I will indemnify and hold harmless MLF from any loss, liability, damage, cost or expense that they may incur as the result of any property damage or injury or death me or my child may sustain while acting as a MLF volunteer.&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;I hereby acknowledge that MLF is an organization involved in serving the disabled chronically homeless. I hereby confirm, represent and warrant that I have never been convicted of a violent crime.&amp;nbsp;&lt;/p&gt;&lt;p&gt;I hereby consent to being the subject of photographs taken by MLF and authorize MLF to cause the photographs to be exhibited with or without advertising sponsorships as still photographs, transparencies, motion pictures, television, social media or video. By this document I release MLF, their agents, employees or assigns, from any and all claims for damages, libel, slander, invasion of privacy or any other claim based upon the use of my likeness. I further irrevocably grant to MLF, its assigns and successors, my consent and full right to: photograph, film, audio, or video record my child during the course of volunteering with MLF, to use such photographs, films, name, image, voice, likeness, biography audio, or video recordings on the MLF website and other MLF print, media publications or guides, publicity or promotions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I request and authorize MLF to provide, in their judgment, any immediate medical or emergency care my child may need due to injury or sickness. MLF can share information concerning the medical condition /treatment of my child to medical personnel or others MLF in its discretions determines is necessary to treat my child.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Having read this Volunteer Agreement and Waiver/Release Form, I agree to the terms and conditions expressed herein.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bool_alreadyRegisteredForShift</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colAllVolunteers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colExistingVolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>colJobVolAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Job__c</objectType>
    </variables>
    <variables>
        <name>collection_VolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>colNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colSelectedShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rJobVolAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Job__c</objectType>
    </variables>
    <variables>
        <name>rVolunteerHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>var_volunteerShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>If User is a Guest User, this variable = TRUE 
This is used to show conditional visibility in the screen componenets</description>
        <name>vGuestUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedShiftDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedShiftDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
